DB_HOST=db.cgekbpqwyyfpvcejydet.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USERNAME=postgres
DB_PASSWORD=
SUPABASE_URL=https://cgekbpqwyyfpvcejydet.supabase.co
SUPABASE_JWKS_URL=https://cgekbpqwyyfpvcejydet.supabase.co/auth/v1/.well-known/jwks.json
SUPABASE_JWT_AUDIENCE=authenticated
FRONTEND_URL=http://localhost:3000
APPOINTMENT_MIN_LEAD_MINUTES=0
